.btn {
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  border-radius: $base-border-radius;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  @include button-size;
  @include button-function;
  @include transition(background-color 0.2s ease-in-out 0s);
}

// Button sizes
.btn--small {
  @include button-size($button-small);
}
.btn--large {
  @include button-size($button-large);
}
.btn--huge {
  @include button-size($button-huge);
}
.btn--full {
  width: 100%;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

// Button functions
.btn--primary {
  @include button-function($button-primary);
}
.btn--secondary {
  @include button-function($button-secondary);
}
.btn--tertiary {
  @include button-function($button-tertiary);
}
.btn--warning {
  @include button-function($color-warning);
}
.btn--danger {
  @include button-function($color-danger);
}
.btn--inactive,
  .btn--inactive:hover {
    background: $button-inactive;
    cursor: default;
}
.btn--empty {
  @include button-function(transparent, $base-font-color);
}

// Button styles
.btn--soft {
  border-radius: 5rem;
}
.btn--hard {
  border-radius: 0;
}
.btn--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: .5rem;
  padding-left: .5rem;
}

// Button icons
.btn__icon {
  display: inline-block;
  vertical-align: top;
}

// Button group
.btn--group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .btn {
    display: inline-block;
    float: left;
  }
  .btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
}


