---
title: Welcome to Middleman
---
%section.container
  %h1 Basic Elements

  %h2 Buttons
  = partial "layouts/styleguide/buttons/button-basics"
  %h2 Button Groups
  = partial "layouts/styleguide/buttons/button-groups"