%table.table--bordered
  %thead
    %tr
      %th Button group
      %th Class
      %th Description
  %tbody
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Basic
    %tr
      %td
        .btn--group
          %a.btn{href: '#'} Button
          %a.btn{href: '#'} Button
          %a.btn{href: '#'} Button
          %a.btn{href: '#'} Button
      %td .btn--group .btn
      %td A group of buttons
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Styles
    %tr
      %td
        .btn--group
          %a.btn.btn--soft{href: '#'} Button
          %a.btn.btn--soft{href: '#'} Button
          %a.btn.btn--soft{href: '#'} Button
          %a.btn.btn--soft{href: '#'} Button
      %td .btn--group .btn.btn--soft
      %td A group of soft buttons
    %tr
      %td
        .btn--group
          %a.btn.btn--hard{href: '#'} Button
          %a.btn.btn--hard{href: '#'} Button
          %a.btn.btn--hard{href: '#'} Button
          %a.btn.btn--hard{href: '#'} Button
      %td .btn--group .btn.btn--hard
      %td A group of hard buttons
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Sizes
    %tr
      %td
        .btn--group
          %a.btn.btn--small{href: '#'} Button
          %a.btn.btn--small{href: '#'} Button
          %a.btn.btn--small{href: '#'} Button
          %a.btn.btn--small{href: '#'} Button
      %td .btn--group .btn.btn--small
      %td A group of small buttons
    %tr
      %td
        .btn--group
          %a.btn.btn--large{href: '#'} Button
          %a.btn.btn--large{href: '#'} Button
          %a.btn.btn--large{href: '#'} Button
      %td .btn--group .btn.btn--large
      %td A group of large buttons
    %tr
      %td
        .btn--group
          %a.btn.btn--huge{href: '#'} Button
          %a.btn.btn--huge{href: '#'} Button
      %td .btn--group .btn.btn--huge
      %td A group of huge buttons
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Combination examples
    %tr
      %td
        .btn--group
          %a.btn.btn--large.btn--primary.btn--soft{href: '#'} Buy now
          %a.btn.btn--large.btn--secondary.btn--soft{href: '#'} View details
      %td{colspan: '2'}  Calls to action
    %tr
      %td
        .btn--group
          %a.btn{href: '#'}
            %i.btn__icon.btn__icon--left.icon.icon--refresh
            Cancel
          %a.btn.btn--danger{href: '#'} 
            %i.btn__icon.btn__icon--left.icon.icon--delete
            Delete
      %td{colspan: '2'}  Are you sure you wish to delete
    %tr
      %td
        .btn--group
          %a.btn.btn--soft.btn--warning.btn--small{href: '#'} Button
          %a.btn.btn--soft.btn--warning.btn--small.btn--active{href: '#'} Button
          %a.btn.btn--soft.btn--warning.btn--small{href: '#'} Button
          %a.btn.btn--soft.btn--warning.btn--small{href: '#'} Button
      %td{colspan: '2'}  Pill style button menu with active state
    %tr
      %td
        .btn--group
          %a.btn.btn--secondary{href: '#'}
            %i.btn__icon.icon.icon--location
          %a.btn.btn--secondary{href: '#'}
            %i.btn__icon.icon.icon--image
          %a.btn.btn--secondary.btn--active{href: '#'} 
            %i.btn__icon.icon.icon--star
          %a.btn.btn--secondary{href: '#'}
            %i.btn__icon.icon.icon--export
      %td{colspan: '2'} Icon button menu group with active state
    %tr
      %td
        .btn--group
          %a.btn.btn--tertiary{href: '#'}
            %i.btn__icon.icon.icon--chevron-left
          %a.btn.btn--tertiary.btn--active{href: '#'}
            1
          %a.btn.btn--tertiary{href: '#'} 
            2
          %a.btn.btn--tertiary{href: '#'} 
            3
          %a.btn.btn--tertiary{href: '#'} 
            4
          %a.btn.btn--tertiary{href: '#'}
            %i.btn__icon.icon.icon--chevron-right
      %td{colspan: '2'} Numbered Pagination
    %tr
      %td
        .btn--group
          %a.btn.btn--primary.btn--huge{href: '#'}
            %i.btn__icon.btn__icon--left.icon.icon--chevron-left
            Previous
          %a.btn.btn--inactive.btn--huge{href: '#'}
            Next
            %i.btn__icon.btn__icon--right.icon.icon--chevron-right
      %td{colspan: '2'} Next and previous with next disabled