%table.table--bordered
  %thead
    %tr
      %th Button
      %th Class
      %th Description
  %tbody
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Basic
    %tr
      %td
        %a.btn{href: '#'} Button
      %td .btn
      %td Standard button
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Sizes
    %tr
      %td
        %a.btn.btn--small{href: '#'} Button
      %td .btn.btn--small
      %td Small button
    %tr
      %td
        %a.btn.btn--large{href: '#'} Button
      %td .btn.btn--large
      %td Large button
    %tr
      %td
        %a.btn.btn--huge{href: '#'} Button
      %td .btn.btn--huge
      %td Huge button
    %tr
      %td
        %a.btn.btn--full{href: '#'} Button
      %td .btn.btn--full
      %td Full width button
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Functions
    %tr
      %td
        %a.btn.btn--primary{href: '#'} Button
      %td .btn.btn--primary
      %td Primary button
    %tr
      %td
        %a.btn.btn--secondary{href: '#'} Button
      %td .btn.btn--secondary
      %td Secondary button
    %tr
      %td
        %a.btn.btn--tertiary{href: '#'} Button
      %td .btn.btn--tertiary
      %td Tertiary button
    %tr
      %td
        %a.btn.btn--warning{href: '#'} Button
      %td .btn.btn--warning
      %td Warning button
    %tr
      %td
        %a.btn.btn--danger{href: '#'} Button
      %td .btn.btn--danger
      %td Danger button
    %tr
      %td
        %a.btn.btn--inactive{href: '#'} Button
      %td .btn.btn--inactive
      %td Inactive button
    %tr
      %td
        %a.btn.btn--empty{href: '#'} Button
      %td .btn.btn--empty
      %td Empty button/span
    %tr 
      %td.text-center{colspan: '3'} 
        %strong Styles
    %tr
      %td
        %a.btn.btn--soft{href: '#'} Button
      %td .btn.btn--soft
      %td Pill button
    %tr
      %td
        %a.btn.btn--hard{href: '#'} Button
      %td .btn.btn--hard
      %td Non rounded button
    %tr
      %td
        A
        %a.btn.btn--natural{href: '#'} Button
        within text
      %td .btn.btn--natural
      %td Button within content
    %tr 
      %td.text-center{colspan: '3'} 
        %strong With icons
    %tr
      %td
        %a.btn{href: '#'} 
          %i.icon.icon--arrow-left-thick 
          Button
          %i.icon.icon--arrow-right-thick
      %td 
      %td Icons within buttons (part of markup) no additional classes required
    %tr
      %td
        %a.btn{href: '#'} 
          %i.btn__icon.btn__icon--left.icon.icon--arrow-left-thick 
          Button
      %td .btn .btn__icon.btn__icon--left
      %td Button with left icon
    %tr
      %td
        %a.btn{href: '#'} 
          Button
          %i.btn__icon.btn__icon--right.icon.icon--arrow-right-thick
      %td .btn .btn__icon.btn__icon--right
      %td Button with right icon
    %tr
      %td
        %a.btn{href: '#'} 
          %i.btn__icon.icon.icon--arrow-right-thick
      %td .btn .btn__icon
      %td Button with icon and no text